<h1>Adicionar nova atividade</h1>
<br>
<br>
<label for="codigo">Código da atividade</label>
<input type="text" name="codigo">
<br>
<label for="nome">Nome da atividade</label>
<input type="text" name="nome">
<br>
<button type="submit">Atualizar</button>
{{#if msg}}
    <p>{{msg}}</p>
{{/if}}
