<h1>Cadastrar</h1>
<form action="/cadastrar" method="post">
    <label for="nome">Coloque o codigo da atividade</label>
    <input type="text" name="nome">
        <br>
    <label for="codigo">Coloque sua ativiade</label>
    <input type="text" name="codigo">
        <br>
    <button type="submit">Enviar</button>
        <br>
</form>