<h1>Apagar atividade</h1>
<br>
<br>
<label for="cod">Código da atividade</label>
<input type="text" name="cod">
<br>
<label for="nome">Nome da atividade</label>
<input type="text" name="nome">
<br>
<button type="submit">Apagar</button>
{{#if msg}}
    <p>{{msg}}</p>
{{else}}
    <p>{{msg2}}</p>
{{/if}}