<h1>Faça seu login</h1>
<form action="/login" method="post">
    <label for="email">Coloque seu email</label>
    <input type="text" name="email">
        <br>
    <label for="senha">Coloque seu senha</label>
    <input type="text" name="senha">
        <br>
    <button type="submit">Enviar</button>
        <br>
</form>
